body{
    background-image: url("../img/background.jpg");
}

.titleHeadP h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:lightseagreen;
}

.titleHeadP .linksForPages a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:25px;
    padding-right: 10px;
}
.titleHeadP .linksForPages{
    text-align: center;
    text-decoration: none;
    color:red;
}

.titleHeadP a{
    text-decoration: none;
    color:red;
}


/* Home Page */

/* Left */
.homeLeftSection{
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Search Bar*/
.searchBarAndSubmit{
    border:3px solid black;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 325px;
    margin-bottom: 64px;
    background: rgb(9,9,121);
    background: linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(126,149,163,1) 26%, rgba(3,134,203,1) 75%, rgba(2,150,213,1) 80%, rgba(2,0,36,1) 87%, rgba(137,149,153,1) 92%, rgba(0,212,255,1) 100%);
}
.searchBarAndSubmit button{
    border: 3px solid black;
    padding: 8px;
    background: lightblue;
    color:azura;
    cursor:pointer;
    width: 243px;
    margin-left: 12%;
}
.searchBarAndSubmit input{
    border: 3px solid orange;
    width: 275px;
    padding: 8px;
    transition: all 1s;
}

.searchBarAndSubmit input:focus{
    border: 3px solid black;
    width: 290px;
    padding: 5px;
    transition: all 1s;
    color:white;
    background-color: black;
}

/* Continuing Left section */
.homeLeftSection input{
    border: 3px solid orange;
    width: 80px;
    padding: 8px;
    background-color:aqua;
    transition: all 1s;
}

.homeLeftSection input:focus{
    border: 3px solid orange;
    width: 128px;
    background-color:black;
    color:white;
    
}


.buy{
    border: 3px solid black;
    padding: 10px;
    width: 325px;
    margin-bottom: 64px;
    background-color: bisque;
}
.homeLeftSection .buy button{
    border: 3px solid black;
    padding: 8px;
    background: lightcoral;
    color:azura;
    cursor:pointer;
    width: 243px;
    margin-left: 12%;
}
.sell{
    border:3px solid black;
    padding: 10px;
    width: 325px;
    margin-bottom: 64px;
    background: rgb(9,9,121);
background: linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(142,163,126,0.36785136417848385) 26%, rgba(3,134,203,1) 75%, rgba(2,150,213,1) 80%, rgba(2,0,36,1) 87%, rgba(137,149,153,1) 92%, rgba(0,212,255,1) 100%);
}
.homeLeftSection .sell button{
    border: 3px solid black;
    padding: 8px;
    background: lightgreen;
    color:azura;
    cursor:pointer;
    width: 243px;
    margin-left: 12%;
}
.footer{
    border:3px solid black;
    padding: 16px;
}

/* Right */
.homeRightSection{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.result {
    border:3px solid black;
    padding: 10px;
    margin-bottom: 64px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(128,253,29,0.37625472552302175) 20%, rgba(253,82,43,1) 68%, rgba(252,176,69,1) 100%);
}

.ur_money{
    border:3px solid black;
    width: 395px;
    padding: 10px;
    margin-bottom: 64px;
    background: rgb(11,121,9);
    background: linear-gradient(218deg, rgba(11,121,9,1) 6%, rgba(142,163,126,0.36785136417848385) 7%, rgba(2,0,36,1) 29%, rgba(100,158,139,1) 33%, rgba(85,156,144,1) 42%, rgba(68,148,167,1) 44%, rgba(137,149,153,1) 46%, rgba(2,150,213,1) 53%, rgba(186,203,3,1) 66%, rgba(0,212,255,1) 100%);
}
.myStonk{
    border:3px solid black;
    width: 395px;
    padding: 10px;
    margin-bottom: 64px;
    background: rgb(142,163,126);
    background: linear-gradient(90deg, rgba(142,163,126,0.36785136417848385) 32%, rgba(68,148,167,1) 52%, rgba(186,203,3,1) 66%, rgba(2,150,213,1) 80%, rgba(2,0,36,1) 87%, rgba(137,149,153,1) 92%, rgba(9,9,121,1) 94%, rgba(0,212,255,1) 100%);
}

/* home middle section */
.hisotry_section{
    border:5px dashed blueviolet;
    width:425px;
    position:absolute;
    height:250px;
    left:375px;
    bottom:100px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(217,184,180,0.5247141092765231) 41%, rgba(148,187,233,1) 100%);

}

/* End of Home-Page */

/* Start of About-Page */

/* Left */
.aboutLeftSection {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}





/* End of About-Page */

/* Start of Help-Page */

/* Left */
.helpLeftSection {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}