<!DOCTYPE html>
<<<<<<< HEAD

<html> 
    <head> 
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel = "stylesheet" href = "/css/styles.css">
    </head>
        
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sajin Saju. It uses data from mapbox.com and weatherstack.com</p>
            <img class = "portrait" src = "/img/IMG_1116.jpg">
        </div>
        
        {{>footer}}
    </body>

=======
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="./css/style.css">
        <title>TinyStockSim</title>
        <link rel="icon" href="./img/icon.jpg">
        
    </head>
    <body>
        {{>header_about}}
        
        



        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
>>>>>>> 7eb81d0feacc1cc0306dabc2c13ddfd058fc4bef
</html>