<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="./css/style.css">
        <title>TinyStockSim</title>
        <link rel="icon" href="./img/icon.jpg">
    </head>
    <body>
        <div class=titleHeadP>
            {{>header_about}}
        </div>
        <div class=aboutLeftSection>
            <p>This site was created by Peter Zhang and Sajin Saju. 
            </p>
            <p>Feel Free To Vibe</p>
                
            <img class = "portrait" src = "/img/catdancing.gif">  
            <img class = "portrait" src = "/img/catdancing.gif"> 
            <img class = "portrait" src = "/img/catdancing.gif"> 
            <img class = "portrait" src = "/img/catdancing.gif"> 
            <img class = "portrait" src = "/img/catdancing.gif"> 
        </div>   

        
        <script src="./js/app.js"></script>
        {{>footer}}
        <style>
            h1{
                font-size:50px;
            }
            p{
                text-align: center;
                font-size:30px;
            }
            img{
                margin-left: auto;
                margin-right:auto;
            }
        </style>
    </body>
</html>