<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="./css/style.css">
        <title>TinyStockSim</title>
        <link rel="icon" href="./img/icon.jpg">
    </head>
    <body>
        <div class=titleHeadP>
            {{>header_about}}
        </div>
        <div class=aboutLeftSection>
            <p>This site was created by Peter Zhang and Sajin Saju. Vibe Zone -></p>
            <img class = "portrait" src = "/img/catdancing.gif">  
        </div>   
        <script src="./js/app.js"></script>
    </body>
</html>