<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="./css/style.css">
        <title>help</title>
        <link rel="icon" href="./img/icon.jpg">
    </head>
    <body>
        <div class=titleHeadP>
            {{>header_about}}
        </div>

        <div class="helpLeftSection">
            <p id="questions_p">
                Common Question
                <ol>
                    <li>How to Use this site?
                        <ol>
                            User are initally desgined to have 5000 dollars(paper money) in hand. You will try to manipulate with the different stocks in otder to maximum you financial value
                        </ol>

                    </li>


                    <li>How Do I Buy Stock?
                        <ol>You have to enter the exact shorthand name for the stock company in the first search bar under the buy section. 
                            Next, You have to enter the amount of shares you want to buy. Currently, only integer amount of shares is avaliable.
                            After, User confirms the quantity and the company name, click submit button to contintue the process
                        </ol>
                    </li>
                    <li>Why did you create this site?
                        <ol>
                            I want to learn more about the relaionship between client side javascript and backend development
                        </ol>

                    </li>
                    <li>What is the purpose of it?
                        <ol>We are aiming to help Users to better finance</ol>
                    </li>
                </ol>
            </p>

            <style>
                h1{
                font-size:50px;
            }
                p{
                    font-size:30px;
                }
                li{
                    background: rgb(66,203,219);
                    background: radial-gradient(circle, rgba(66,203,219,1) 24%, rgba(217,180,198,0.5247141092765231) 41%, rgba(148,187,233,1) 100%);
                }
            </style>

            {{>footer}}
        </div>
        
    </body>
</html>