<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="./css/style.css">
        <title>TinyStockSim</title>
        <link rel="icon" href="./img/icon.jpg">
    </head>
    <body>
        
        <div class=titleHeadP>
            {{>header}}
        </div>
        <div class="homeRightSection">
            <!--display search result-->
            <div class="result">
                <h2>Result Section</h2>
                Display Seached Results: 
                <p id="result">Empty Result. Please do something. Just do something.</p>
                <p id="result2"></p>
                <p id="result3"></p>
                <p id="result4"></p>
                <p id="result5"></p>
                <p></p>
            </div>

            <div class="myStonk">
                <h2>My Stonks</h2>
                List of all owned stock
                <ol id="myStonk">

                </ol>
            </div>
                

            <div class="ur_money">
                <h2>My Papel Moni</h2>
                <p id="ur_money"></p>
            </div>
        </div>
        <!--Search bar-->
        <div class="searchBarAndSubmit">
            <h2>Search Section</h2>
            <form id="price_form">
                <input  id="searched" type="text" placeholder="Stock Name">
                <button type="submit">SUBMIT</button>
            </form>
            
        </div>
        
        <div class="homeLeftSection">
            {{!-- buy bar  --}}
            <div class="buy" id="buy_jump">
                <h2>Buy Section</h2>
                <form id="buy_form">
                    <input id="buy_name_seached" type="text" placeholder="Stock Name">

                    <input id="buy_number_searched" type="number" placeholder="Amount of Integer">

                    <button type="submit">Submit</button>

                </form>
            </div>
            {{!-- sell bar --}}
            <div class="sell" id="sell_jump">
                <h2>Sell Section</h2>
                <form id="sell_form">
                    <input id="sell_name_seached" type="text" placeholder="Stock Name">

                    <input id="sell_number_searched" type="number" placeholder="Amount of Integer">

                    <button type="submit">Submit</button>

                </form>
            </div>
            {{!-- <div>
                <img src="./img/catdancing.gif" alt="cat vibing">
            </div> --}}





            
        </div>

        <div class="homeMiddleSection"></div>
        <div class="hisotry_section">
            <h2>History Section</h2>
            <ol id="history">
                
            </ol>

        </div>
        {{>footer}}
        <script src="./js/app.js"></script>
        
    </body>
</html>