<div id="footer">
    <p>Please Do Not Get Serious About Papel Moni OKIE? -- 54JIN</p>
    <style>
        #footer{
            clear:both;
            border:5px dashed darkblue;
            text-align: center;
        }
    </style>
</div>