<div class="heading" >
            <h1 id="bigTitle" >TinyStockSim</h1>
            <div>
                <a href="/"> Home </a>
                <a href="/about">About</a>
                    <p>    Hi! This page allows you to practice to invest in stocks by using paper money!
                        yep! Don't get too excited.
                    </p>
                    
                    basic functionality
                    <ul>
                        <li>Provide the Acutal Stock Market Info By using IEX API</li>
                        <li>Allow Users to purchase selected stock</li>
                        <li>Sell Owned Stocks </li>
                        <li>Get better at financing</li>
                    </ul>

                    Future Goals:
                    <ul>
                        <li>Store User's info In a databased</li>
                        <li>Allow User have Username and Password</li>
                        <li>Constructing graphs for History Reference</li>
                    </ul>
                
            </div>
    
</div>
