<div class="heading" >
            <h1 id="bigTitle" >TinyStockSim</h1>
            <div>
                <a href="#ur_money"> Wallet</a>
                <a href="#searchBarAndSubmit"> Home</a>
                <a href="#buy_jump"> Buy</a>
                <a href="#sell_jump"> Sale</a>
                <a href="/about">About</a>
            </div>
    
</div>
