<div class="heading" >
            <h1 id="bigTitle" >TinyStockSim</h1>
            <div>
                <a href="/"> Home </a>
                <a href="/about">About</a>
                <a href="/help">Help</a>
                
            </div>
    
</div>
